.back-button {
  transition: transform 0.5s ease-in-out;
}
.back-button button:hover svg {
  transform: scale(1.5);
}
.food__arrow {
  border: none;
  bottom: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
}
.food__arrow span svg {
  border: none;
  height: 50px;
  width: 50px;
}
