.go__back span svg {
  transition: 0.4s;
}
.go__back span svg:hover {
  transform: scale(1.1);
  fill: var(--hover-backgroud);
}
.breakfast__card img {
  width: 500px;
  height: 300px;
  border-radius: 2rem;
}
.breakfast__title {
  font-family: var(--font-text);
  color: var(--font-text-color);
  font-size: 2rem;
  font-weight: 700;
}
.active {
  color: #fff !important;
}
.btn__title {
  margin-right: 2.5rem;
}
.recipe-container {
  width: 600px;
  margin: 0 auto;
}
.recipe-summary {
  font-family: var(--font-text);
  color: var(--font-text-color);
  color: #7a3e48;
  line-height: 2rem;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.recipe-instructions {
  color: #7a3e48;
  line-height: 1.8rem;
  font-size: 1.4rem;
  margin-left: 20px;
}
.recipe__ingredient {
  color: #7a3e48;
  line-height: 2.5rem;
  font-size: 1.5rem;
  margin-left: 20px;
  font-weight: 600;
}
.section__food {
  background: linear-gradient(to right, #007bff63, #f8f9fa);
}
.food__arrow {
  border: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
}
.food__arrow span svg {
  width: 50px;
  height: 50px;
  border: none;
}
