.breakfast__img {
  width: 420px;
  height: 420px;
}

.breakfast__img img {
  width: 100%;
  height: 100%;
}
.go__back span svg {
  transition: 0.4s;
}
.go__back span svg:hover {
  transform: scale(1.1);
  fill: var(--hover-backgroud);
}
.breakfast__text-paragraph {
  color: #555;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.breakfast__text-title {
  font-weight: 800;
  font-size: 2.5rem;
}
.foods {
  background: var(--foods-background);
  background-repeat: no-repeat;
}
