.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #0e1633;
}
.nav__wrapper .logo {
  display: flex;
  width: 110px;
  height: 80px;
}
.nav__wrapper .logo img {
  width: 68%;
}
.menu {
  margin-bottom: 0;
}
.nav__item a {
  text-decoration: none;
  font-family: var(--font-name);
  font-weight: 700;
  font-size: 1.3rem;
  color: #fff;
  padding: 11px 20px;
}

.nav__item.active {
  background: #223c50;
}

.mobile__menu svg {
  width: 24px;
  display: none;
}
.secondary__btn {
  border: none;
  background: transparent;
}

.nav__btn a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-name);
  font-weight: 700;
  font-size: 1rem;
}
.nav__btn a:hover {
  color: #fff;
}
.nav__btn .nav__login:hover {
  background: #223c50;
}
.nav__btn .nav__register:hover {
  background: #223c50;
}

.sticky__header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
